* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    background-image: url(../../assets/img/janko-ferlic-sfL_QOnmy00-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.signup-form {
    margin: 30vh auto auto auto;
    width: 600px;
    height: 200px;
}

form > div {
    position: relative;
    margin: 25px auto;
}

form > div > label {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    transition: 0.2s;
    font: inherit;
}

input:focus + label {
    font-size: small;
    top: 100%;
    margin-top: -36px;
}

input:valid + label {
    z-index: -1;
}

.underline {
    background-color: grey;
    width: 100%;
    height: 2px;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 16px;
}

input {
    width: 100%;
    border: none;
}

input:focus {
    outline: none;
}

button {
    cursor: pointer;
    color: white;
    background-color: green;
    text-align: center;
    font-weight: 700;
    height: 30px;
    width: 100%;
}

@media only screen and (max-width: 500px) {
    .signup-form {
        width: 300px;
    }
}